{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h2>Testeando imagen</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolore blanditiis inventore laudantium deleniti vel ipsum similique veniam, delectus quisquam fuga quae. Vel recusandae provident maxime explicabo corporis, dicta harum?</p>
        </div>
        <div class="col-4">
            <img src="assets/images/logo.png" class="img-thumbnail" alt="">
        </div>
    </div>

{{> footer }}